:root {
  --color-primary: #eee;
  --color-secondary: #eee;
  --color-background-primary: #101010;
  --color-background-secondary: #2b2a30;

  --z-index-background: -10;
  --z-index-message: 10;
  --z-index-characters: 20;
  --z-index-clouds: 30;
}

html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-primary);
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
