:root {
  --color-primary: #eee;
  --color-secondary: #eee;
  --color-ternary: #111;
  --color-background-primary: #101010;
  --color-background-secondary: #2b2a30;
  --color-background-ternary: #eee;

  --z-index-background: -10;
  --z-index-message: 10;
  --z-index-characters: 20;
  --z-index-clouds: 30;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--color-background-primary);
  color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
