.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: bottom;
  scroll-behavior: smooth;
}

.container > section {
  transform-style: preserve-3d;
}

.container > section:nth-child(2) {
  color: var(--color-primary);
  background-color: var(--color-background-primary);
}

.container > section:nth-child(3) {
  color: var(--color-secondary);
  background: var(--color-background-secondary);
}

.container > section:nth-child(4) {
  color: var(--color-ternary);
  background: var(--color-background-ternary);
}
