.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 1px;
  perspective-origin: bottom;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
}

.container > section:nth-child(3) {
  background: var(--color-background-secondary);
}
